.{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Source sans pro','sans-serif';
}
html{
    scroll-behavior: smooth;
}
.container {
 padding: 0 100px 0 100px;
}
nav ul,
.main-info-section{
display:flex;
flex-wrap:wrap;
justify-content:space-between;

}
body{
    background-color: #252627;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar {
    background-color: #181818;
}
header h1,
header a,
.text p,
.about h1,
.skills h1{
    color:#707070;

}
li{
    list-style: none;
    margin-left: 30px;
}
a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    transform:translateY(-50%);
}
