body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: absolute;
    top:50px;
    left: 0;
    padding: 0 100px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid #f2f2f2;
}
header .port{
    color: #ff0066;
    height: 5px;
    line-height: 50px;
    font-size: 46px;
    float: left;
    font-weight: bold;
    font-family: Bookman, URW Bookman ;
    font-style: normal;
    padding-left: 150px;
}
header nav{
    float:right;
    padding-right: 150px;
    

}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ff00bf;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a:active{
    color: #fff;
    background: #2196f3;

}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    
}
.info-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 250px;
    height: calc(100vh-60px);
    padding-top: 60px;
}
.about,
.skills,
.work,
.contact,
text{
    color: rgba(0, 0, 0, 0.767);
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    margin-top:120px;
    font-size: 20px;
}
.med{
font-size: 25px;
}
.big,.big-2{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.small{
    font-size: 18px;
    color: #ff0066;
}
button {
    border-radius: 12px;
    background: -moz-linear-gradient(45deg, red, blue);
    background: linear-gradient(45deg, red, blue);
    width: 150px;
    height: 60px;
    line-height: 60px;
     
    margin-right: -9px;
    text-align: center;
    position: relative;
  
}
button a:link{
    color: #fff !important;
    font-size: 15px;
    text-decoration: none;
}
@media(max-width:962px)
{
    header{
        padding: 0 20px;

    }
    .menu-toggle{
        display: block;
        padding:13.5px 0 0 0;
      }
    header .port{
        color: #ff0066;
    height: 50px;
    line-height: 50px;
    font-size: 46px;
    float: left;
    font-family: Bookman, URW Bookman;
    font-weight: bold;
    padding:0;
    }
    header nav{ 
       
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        top:50px;
        left:-100%;
        background: #fff;
        transition: 0.5s;
        


    }
    header nav.active{
       left: 0;
    }
    header nav ul{
        display: block;
        text-align: center
    }
    header nav ul li a{
    border-bottom: 1px solid rgba(0,0,0,.2);
    }

}